<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A2A01761CAB920C0005E985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2A018A1CAB920C0005E985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2A01951CAB920C0005E985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
